.card {
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4, 26, 55, 0.16);
    box-shadow: 0 1px 2.94px 0.06px rgba(4, 26, 55, 0.16);
    border: none;
    margin-bottom: 30px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.card .card-block {
    padding: 25px;
}

.bg-c-yellow {
    background: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}

.bg-c-blue {
    background: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
}

.bg-c-grey {
    background-image: linear-gradient(to top, #a3bded 0%, #6991c7 100%);
}