<div class="row">

    <div class="col-sm-6">
        <h1 class="text-center">Bienvenido <span style="color:#00a8ff; margin-right: 20px;">{{nombreUsuario}}</span> <img style="width: 20%;" [src]="imgWelcomeText"></h1>

        <img [src]="imageSrc" class="card-img-top">
        <div class="card bg-c-yellow order-card">
            <div class="card-block" style="padding-bottom: 5px; padding-top: 10px;">

                <p class="card-title text-center" style="font-weight: bold; color:white; margin-bottom: 30px;">Citas Pendientes</p>

                <h2 class="text-center"><span>{{citasPendientes}}</span></h2>
                <!--<i class="fa fa-dashboard f-left"></i>-->
            </div>
        </div>

        <div class="card mb-3 bg-c-grey">
            <div class="row g-0">
                <div class="col-md-4">
                    <img [src]="imageCantidadCitasSrc" class="card-img-top">
                </div>
                <div class="col-md-8 ">
                    <div class="card-block " style="padding-top: 10px; padding-bottom: 10px;">


                        <h4 style="text-align: left;margin-bottom: 15px; padding-top: 45px; "> <span style="color: white; font-weight: bold;">Citas Totales </span> <span style="float: right; padding-right: 15px;">{{totalCitasAll}}</span></h4>


                        <!--<i class="fa fa-dashboard f-left"></i>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <img [src]="imageSrcVirtual" class="card-img-top">

        <div class="card bg-c-blue order-card">
            <div class="card-block">
                <p class="card-title text-center" style="font-weight: bold; color:white; margin-bottom: 30px;">Proxima Cita Virtual</p>

                <ng-container *ngIf="estadoSinCitas==1">
                    <h4 style="text-align: left;margin-bottom: 15px;"> <span>Fecha: </span> <span style="float: right;color:white">{{proximaCitaFechaMedico}}</span></h4>
                    <ng-container *ngIf="isPaciente==true">
                        <h4 style="text-align: left;margin-bottom: 15px;"> <span>Doctor: </span> <span style="float: right;color:white">{{proximaCitaArray["doctor"]}}</span></h4>

                    </ng-container>
                    <ng-container *ngIf="isPaciente==false">
                        <h4 style="text-align: left;margin-bottom: 15px;"> <span>Paciente: </span> <span style="float: right;color:white">{{proximaCitaArray["paciente"].apellidoPaterno}} {{proximaCitaArray["paciente"].nombre}}</span></h4>
                    </ng-container>
                    <h4 style="text-align: left;margin-bottom: 15px;"> <span>Especialidad: </span> <span style="float: right;color:white">{{proximaCitaArray["especialidad"]}}</span></h4>
                </ng-container>

                <ng-container *ngIf="estadoSinCitas==0">
                    <h4 style="text-align: center;margin-bottom: 15px;"> No tienes citas proximas</h4>
                </ng-container>
            </div>

            <div class="card-footer" style="padding-top: 15px; padding-bottom: 15px;">
                <div class="text-center">
                    <ng-container *ngIf="estadoSinCitas==1">
                        <button class="btn btn-dark mx-auto" (click)="ingresarSalaButton()">Ingresar</button>
                    </ng-container>
                    <ng-container *ngIf="estadoSinCitas==0">
                        <button disabled class="btn btn-dark mx-auto">Ingresar</button>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>

</div>