<!DOCTYPE html>
<html lang="en">

<head>
    <title>Policlinico MedSalud</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--Aca es donde importas el estilo kgada-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../Presentar Home/css/style.css">
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">
                <img src="../../assets/images/presentarhomeimagenes/log01medicina.svg" width="150" height="50" alt="">
            </a>

            <ul class="nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Ubicacion</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Acerca de</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://www.facebook.com/DR.GARNICA">Conoce mas</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="btn btn-secondary btn-lg active text-center" role="button" aria-pressed="true">Medicina General</a>
                </li>
            </ul>
        </nav>
        <div class="cover d-flex justify-content-center align-items-center flex-column">
            <h1>
                POLICLINICO MEDSALUD
            </h1>

            <p>
                UN SISTEMA DE SALUD PENSANDO EN SUS PACIENTES
            </p>
        </div>
    </header>

    <section>
        <p class="text-center">
        </p>
        <h1 class="text-center">
            Noticias y Eventos
        </h1>
        <div class="container mt-5 mb-5">
            <div class="row justify-content-center">

                <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-2">
                    <div class="card">
                        <div title="Servicios de medicina" class="cover cover-small" style="background-image:url(../../assets/images//Noticias//Noticia1.jpg);">

                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Covid-19: vacunación a menores de 12 a 17 años</h5>
                            <p class="card-text">El titular de Salud sostuvo que "está debidamente comprobado que no hay ningún problema con las vacunas, en cualquiera de las marcas," y que la inmunización a los más pequeños tiene como objetivo hacer realidad el inicio de
                                las clases en los colegios.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-2">
                    <div class="card">
                        <div title="Servicios de medicina" class="cover cover-small" style="background-image:url(../../assets/images/presentarhomeimagenes//servicesmedicine1.jpg);">

                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Servicios de Medicina</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-2">
                    <div class="card">
                        <div title="Servicios de medicina" class="cover cover-small" style="background-image:url(../../assets/images/presentarhomeimagenes//servicesmedicine1.jpg);">

                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Servicios de Medicina</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container mt-5 mb-5">
            <div class="row">
                <div>
                    <img src="../../assets/images/presentarhomeimagenes/log01medicina.svg" />
                </div>
                <div class="col-12 col-sm-6">
                    <h3>
                        !Bienvenidos al Poliniclico MEDSALUD
                    </h3>
                    <h4>
                        Donde brindamos un servicio de salud seguro, cálido y humano a nuestros pacientes, consiguiendo la excelencia en sanidad privada de salud.
                    </h4>
                    <p>
                        <a class="nav-link" href="https://www.facebook.com/DR.GARNICA">Encuentranos por facebook</a>
                    </p>
                    <a href="https://www.google.com/maps/place/Las+Coralinas+766,+Cercado+de+Lima+15404/@-12.0092677,-77.013049,3a,90y,327.12h,83.96t/data=!3m6!1e1!3m4!1sD4yZ3HWiMBuSnsBPVOI9qA!2e0!7i13312!8i6656!4m13!1m7!3m6!1s0x9105cf62558eb24d:0xaecddc7cced4ce07!2sLas+Coralinas+766,+Cercado+de+Lima+15404!3b1!8m2!3d-12.0091773!4d-77.0130296!3m4!1s0x9105cf62558eb24d:0xaecddc7cced4ce07!8m2!3d-12.0091773!4d-77.0130296"> Ir al mapa</a>
                </div>
            </div>
            <form action="">
                <label for="email"> Correo electrónico</label>
                <div class="d-flex">
                    <div class="flex-fill mr-2">
                        <input type="email" id="email" class="form-control" />
                    </div>
                    <button type="submit" class="btn btn-primary">
                  Enviar
                </button>
                </div>
            </form>
        </div>
    </section>
    <section>
        <div class="container mt-5 mb-5">
            <div class="product-stripe">
                <div class="stripe-container">
                    <div class="card">
                        <div title="Servicios de medicina" class="cover cover-small" style="background-image:url(../../assets//images//ImagenesParaCarrusel//MedicinaGeneral.jpg);">

                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Medicina General</h5>
                            <a href="#" class="btn btn-secondary btn-lg active text-center" role="button" aria-pressed="true">Medicina General</a>
                        </div>
                    </div>
                    <div class="card">
                        <div title="Servicios de medicina" class="cover cover-small" style="background-image:url(../../assets/images//ImagenesParaCarrusel/Dermatologia.jpg);">

                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Dermatologia</h5>
                            <span class="badge badge-info">Dermatologia</span>
                        </div>
                    </div>
                    <div class="card">
                        <div title="Servicios de medicina" class="cover cover-small" style="background-image:url(../../assets/images//ImagenesParaCarrusel/Cardiologia.jpg);">

                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Cardiologia</h5>
                            <span class="badge badge-info">Cardiologia</span>
                        </div>
                    </div>
                    <div class="card">
                        <div title="Servicios de medicina" class="cover cover-small" style="background-image:url(../../assets/images//ImagenesParaCarrusel/Gastroenterología.jpg);">

                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Gastroenterología</h5>
                            <span class="badge badge-info">Gastroenterología</span>
                        </div>
                    </div>
                    <div class="card">
                        <div title="Servicios de medicina" class="cover cover-small" style="background-image:url(../../assets/images//ImagenesParaCarrusel//Pediatria.jpg);">

                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Pediatria</h5>
                            <span class="badge badge-info">Pediatria</span>
                        </div>
                    </div>
                    <div class="card">
                        <div title="Servicios de medicina" class="cover cover-small" style="background-image:url(../../assets/images//ImagenesParaCarrusel/Oftalmologia.jpg);">

                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Oftalmologia</h5>
                            <span class="badge badge-info">Oftalmologia</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container mt-5 mb-5">
            <h4>
                Aquí nos encontramos:
            </h4>
            <p>
                766 Las Coralinas, Cercado de Lima, Provincia de Lima
            </p>
            <div class="responsive-iframe">
                <iframe src="https://www.google.com/maps/embed?pb=!4v1634683934717!6m8!1m7!1sD4yZ3HWiMBuSnsBPVOI9qA!2m2!1d-12.00926769343348!2d-77.0130489782255!3f29.879622!4f0!5f0.7820865974627469" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>
    </section>
</body>

</html>
