<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item navbar-brand-mini-wrapper">
            <a class="nav-link navbar-brand brand-logo-mini" href="index.html"><img src="../../../assets//images//presentarhomeimagenes//medsaludlog.svg" width="40" height="40" alt="logo" /></a>
        </li>
        <li class="nav-item nav-profile">
            <a href="#" class="nav-link">
                <div class="profile-image">
                    <img class="img-xs rounded-circle" src="../../../assets//images//presentarhomeimagenes//medsaludlog.svg" alt="profile image">
                    <div class="dot-indicator bg-success"></div>
                </div>
                <div class="text-wrapper">
                    <p class="profile-name">MEDSALUD</p>
                    <p class="designation" translate>Administrator</p>
                </div>
            </a>
        </li>
        <li class="nav-item nav-category">
            <span class="nav-link" translate>SERVICIOS DOMICILIO</span>
        </li>
        <li class="nav-item" [ngClass]="{ 'active': gestionarpaciente.isActive }">
            <a class="nav-link" routerLink="/listar-pacientes" routerLinkActive #gestionarpaciente="routerLinkActive" [routerLinkActiveOptions]="{exact:
      true}">
                <span class="menu-title" translate>Listar Pacientes</span>
                <i class="icon-screen-desktop menu-icon"></i>
            </a>
        </li>
        <li class="nav-item" [ngClass]="{ 'active': gestionarreceta.isActive }">
            <a class="nav-link" routerLink="/gestionar-receta-medica" routerLinkActive #gestionarreceta="routerLinkActive" [routerLinkActiveOptions]="{exact:
    true}">
                <span class="menu-title" translate>Gestionar Receta Medica</span>
                <i class="icon-screen-desktop menu-icon"></i>
            </a>
        </li>
        <li class="nav-item" [ngClass]="{ 'active': consultarservicio.isActive }">
            <a class="nav-link" routerLink="/consultarservicio" routerLinkActive #consultarservicio="routerLinkActive" [routerLinkActiveOptions]="{exact:
    true}">
                <span class="menu-title" translate>Consultar Servicio</span>
                <i class="icon-screen-desktop menu-icon"></i>
            </a>
        </li>
        <li class="nav-item" [ngClass]="{ 'active': consultarpacientesr.isActive }">
            <a class="nav-link" routerLink="/consultar-receta-medica" routerLinkActive #consultarpacientesr="routerLinkActive" [routerLinkActiveOptions]="{exact:
    true}">
                <span class="menu-title" translate>Consultar Receta Medica</span>
                <i class="icon-screen-desktop menu-icon"></i>
            </a>
        </li>
        <li class="nav-item" [ngClass]="{ 'active': gestionarespecialidad.isActive }">
            <a class="nav-link" routerLink="/gestionar-especialidad" routerLinkActive #gestionarespecialidad="routerLinkActive" [routerLinkActiveOptions]="{exact:
    true}">
                <span class="menu-title" translate>Gestionar Especialidad</span>
                <i class="icon-screen-desktop menu-icon"></i>
            </a>
        </li>