<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item navbar-brand-mini-wrapper">
            <a class="nav-link navbar-brand brand-logo-mini" href="index.html"><img src="assets/images/logo-mini.svg" alt="logo" /></a>
        </li>
        <li class="nav-item nav-profile">
            <a href="#" class="nav-link">
                <div class="profile-image">
                    <img class="img-xs rounded-circle" src="assets/images/faces/face8.jpg" alt="profile image">
                    <div class="dot-indicator bg-success"></div>
                </div>
                <div class="text-wrapper">
                    <p class="profile-name">{{nameSideBar}}</p>

                    <p class="designation" translate>{{rolSideBar}}</p>
                </div>
                <div class="icon-container">
                    <i class="icon-bubbles"></i>
                    <div class="dot-indicator bg-danger"></div>
                </div>
            </a>
        </li>
        <li class="nav-item nav-category">
            <span class="nav-link" translate>SERVICIOS DOMICILIO</span>
        </li>
        <li class="nav-item" [ngClass]="{ 'active': dashboard.isActive }">
            <a class="nav-link" routerLink="/dashboard" routerLinkActive #dashboard="routerLinkActive" [routerLinkActiveOptions]="{exact:
        true}">
                <span class="menu-title" translate>Reporte General</span>
                <i class="icon-screen-desktop menu-icon"></i>
            </a>
        </li>






        <ng-container *ngIf="permitirCita==true">

            <li class="nav-item" [ngClass]="{ 'active': citaVirtual.isActive }">
                <a class="nav-link" routerLink="/cita-virtual" routerLinkActive #citaVirtual="routerLinkActive" [routerLinkActiveOptions]="{exact:
        true}">
                    <span class="menu-title" translate>Cita Virtual</span>
                    <i class="icon-screen-desktop menu-icon"></i>
                </a>
            </li>

        </ng-container>

        <ng-container *ngIf="permitirHistoria==true">



            <li class="nav-item" [ngClass]="{ 'active': gestionarHistoria.isActive }">
                <a class="nav-link" routerLink="/gestionar-historia" routerLinkActive #gestionarHistoria="routerLinkActive" [routerLinkActiveOptions]="{exact:
            true}">
                    <span class="menu-title" translate>Gestionar Historia</span>
                    <i class="icon-screen-desktop menu-icon"></i>
                </a>
            </li>
        </ng-container>


        <ng-container *ngIf="permitirGPacienteYGCita==true">
            <li class="nav-item" [ngClass]="{ 'active': gestionarCitas.isActive }">
                <a class="nav-link" routerLink="/gestionar-citas" routerLinkActive #gestionarCitas="routerLinkActive" [routerLinkActiveOptions]="{exact:
            true}">
                    <span class="menu-title" translate>Gestionar Citas</span>
                    <i class="icon-screen-desktop menu-icon"></i>
                </a>
            </li>

            <li class="nav-item" [ngClass]="{ 'active': gestionarPaciente.isActive }">
                <a class="nav-link" routerLink="/gestionar-paciente" routerLinkActive #gestionarPaciente="routerLinkActive" [routerLinkActiveOptions]="{exact:
            true}">
                    <span class="menu-title" translate>Gestionar Paciente</span>
                    <i class="icon-screen-desktop menu-icon"></i>
                </a>
            </li>

        </ng-container>