<div class="header-dash">



    <div class="col-md-3 col-lg-3">
        <h1 class="titulo">Reporte General</h1>

    </div>

</div>

<div class="linea-circulo">

    <div id="divBarraDoble">
        <div>
            <h1 style="padding-left: 20px; padding-top: 10px; padding-bottom: 10px;">Ingresos Por Mes</h1>
        </div>

        <div class="container">
            <div class="row">

                <div class="col-sm">
                    <label>De: </label>
                    <input style="width: 200px;" [(ngModel)]="fechaDe" type="date" class="form-control" (click)="consoleLogFechaDe()" placeholder="" />
                </div>

                <div class="col-sm">
                    <label>Hasta</label>
                    <input style="width: 200px;" [(ngModel)]="fechaHasta" type="date" class="form-control" (click)="consoleLogFechaDe()" placeholder="" />
                </div>
            </div>
        </div>

        <canvas id="myChartBarraDoble"></canvas>

    </div>
    <div id="divChart" style="margin-left: 20px;">
        <canvas id="myCircleChart"></canvas>
    </div>

</div>






<!--
  <div class="div-trabajadores">
      <p>CANTIDAD DE TRABAJADORES: {{cantidadEmpleados}}</p>
  </div>
  <div class="div-proveedores">
      <p>CANTIDAD DE provedores Disponibles: {{cantidadProveedores}}</p>
  </div>
-->





<!--
<div class="dobleBar-unaBar" style="display: inline-block;">
    <p>{{totalCitas}}</p>
</div>-->

<div class="col-md-3 col-lg-3">
    <div class="card bg-c-yellow order-card">
        <div class="card-block">
            <p style="font-weight: bold;">Total Citas</p>
            <h2 class="text-right"><span>{{totalCitas}}</span><i class="fa fa-dashboard f-left"></i></h2>

        </div>
    </div>
</div>